.navigation {
    width: 98vw;
    background-color: chocolate;
    border: 2px solid black;
    border-radius: 10px;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
a {
    color: black;
    text-decoration: none;
}
a:hover {
    color: aqua;
}   
.header {
    margin-top: 60px;
    font-style:italic;
    text-align: center;
    color: salmon 
    
} 
.footer {
    border: 5px solid blueviolet;
    border-radius: 10px;
    background-color: cadetblue;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#img1 {
    height: 350px;
    width: 98vw;
}
img {
    width: 500px;
    height: 750px;
}
section {
    border: 5px solid blueviolet;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
h2 {
    font-family: Poetsen One ; 
    color:cornflowerblue
}
section:hover {
    background-color: slategrey;
}
@media screen and (max-width: 500px){
    body {
        background-color: black;
    }
    h4 {
        color: white;
    }
}
body {
    background-color: aqua;
}
